<header>
    <h1><a href=""><b>Kevin Marquez.</b></a></h1>

    <nav>
        <div class="links">
            <a href="">Sobre mi</a>
            <a href="">Proyectos</a>
            <a href="">Contacto</a>
        </div>
        <div class="icons">
            <a href="https://github.com/KevinnARG" target="_blank"><i class="bi bi-github"></i></a>
            <a href="https://www.instagram.com/kevinnmarquez_/" target="_blank"><i class="bi bi-instagram"></i></a>
            <a href="https://www.linkedin.com/in/kevin-marquez-web/" target="_blank"><i class="bi bi-linkedin"></i></a>
        </div>

        <i id="menu" class="bi bi-list"></i>
    </nav>

</header>